html {
    /*background-image: url(main.jpg);*/
    background-color: wheat;
    font-size: 20px;
  }
  
  ul {
    background: rgb(255, 255, 255);
    padding: 10px;
    border: 1px solid black;
  }
  
  li {
    margin-left: 20px;
  }